![Algoritmos e Estrutura de Dados I](AED1_banner.jpg)

## <font color='blue'>Aula 12 - Algoritmos e Estrutura de Dados 1 </font>
## <font color='blue'>Estruturas de Dados (Listas / Tuplas / Dicionários)</font>

In [ ]:
# Versão da Linguagem Python
from platform import python_version
print('Versão da Linguagem Python Usada Neste Jupyter Notebook:', python_version())

## <font color='blue'>LISTAS...</font>
---
### Trabalhando com Listas

In [1]:
# Criando uma lista
lista_1 = ["arroz, frango, tomate, leite"]

In [2]:
type(lista_1)

list

In [3]:
# Imprimindo a lista
print(lista_1)

['arroz, frango, tomate, leite']

In [4]:
# Criando outra lista
lista_2 = ["arroz", "frango", "tomate", "leite"]

In [5]:
type(lista_2)

list

In [6]:
# Imprimindo a lista
print(lista_2)

['arroz', 'frango', 'tomate', 'leite']

In [7]:
# Criando lista
lista_3 = [23, 100, "Cientista de Dados"]

In [8]:
type(lista_3)

list

In [9]:
# Imprimindo
print(lista_3)

[23, 100, 'Cientista de Dados']

In [10]:
# Atribuindo cada valor da lista a uma variável.
item1 = lista_3[0]
item2 = lista_3[1]
item3 = lista_3[2]

In [11]:
# Imprimindo as variáveis
print(item1, item2, item3)

23 100 Cientista de Dados

In [12]:
alunos = ['ana', 'pedro', 'maria']
notas = [9, 3.5, 6]

In [13]:
for i in range(len(alunos)):
    print(f"O(a) estudante {alunos[i]} teve nota {notas[i]}!")

O(a) estudante ana teve nota 9!
O(a) estudante pedro teve nota 3.5!
O(a) estudante maria teve nota 6!

#### Atualizando Um Item da Lista

In [14]:
lista_2

['arroz', 'frango', 'tomate', 'leite']

In [15]:
# Imprimindo um item da lista
lista_2[2]

'tomate'

In [16]:
# Atualizando um item da lista
lista_2[2] = "chocolate"

In [17]:
# Imprimindo lista alterada
lista_2

['arroz', 'frango', 'chocolate', 'leite']

#### Deletando Um Item da Lista

In [18]:
lista_2

['arroz', 'frango', 'chocolate', 'leite']

In [19]:
# Não é possível deletar um item que não existe na lista. Vai gerar erro index out of range
del lista_2[4]

IndexError: list assignment index out of range

In [ ]:
# Deletando um item específico da lista
del lista_2[3]

In [ ]:
# Imprimindo o item com a lista alterada
lista_2

#### Listas de Listas (Listas Aninhadas)

Listas de listas são matrizes em Python.

In [ ]:
# Criando uma lista de listas
listas = [ [1,2,3], [10,15,14], [10.1,8.7,2.3] ]

In [ ]:
# Imprimindo a lista
print(listas)

In [ ]:
# Atribuindo um item da lista a uma variável
a = listas[0]

In [ ]:
listas[0][1]

In [ ]:
a

In [ ]:
b = a[0]

In [20]:
b

NameError: name 'b' is not defined

In [21]:
list1 = listas[1]

NameError: name 'listas' is not defined

In [22]:
list1

NameError: name 'list1' is not defined

In [23]:
valor_1_0 = list1[0]

NameError: name 'list1' is not defined

In [24]:
valor_1_0

NameError: name 'valor_1_0' is not defined

In [25]:
valor_1_2 = list1[2]

NameError: name 'list1' is not defined

In [26]:
valor_1_2

NameError: name 'valor_1_2' is not defined

In [27]:
list2 = listas[2]

NameError: name 'listas' is not defined

In [28]:
list2

NameError: name 'list2' is not defined

In [29]:
valor_2_0 = list2[0]

NameError: name 'list2' is not defined

In [30]:
valor_2_0

NameError: name 'valor_2_0' is not defined

#### Operações com Listas

In [31]:
# Criando uma lista aninhada (lista de listas - Matrizes)
listas = [[1,2,3], [10,15,14], [10.1,8.7,2.3]]

In [32]:
listas

[[1, 2, 3], [10, 15, 14], [10.1, 8.7, 2.3]]

In [33]:
# Atribuindo à variável a o primeiro valor da primeira lista
a = listas[0][0]

In [34]:
a

1

In [35]:
b = listas[1][2]

In [36]:
b

14

In [37]:
c = listas[0][2] + 10

In [38]:
c

13

In [39]:
d = 10

In [40]:
d

10

In [41]:
e = d * listas[2][0]

In [42]:
e

101.0

#### Concatenando Listas

In [43]:
lista_s1 = [34, 32, 56]

In [44]:
lista_s1

[34, 32, 56]

In [45]:
lista_s2 = [21, 90, 51]

In [46]:
lista_s2

[21, 90, 51]

In [47]:
# Concatenando listas
lista_total = lista_s1 + lista_s2

In [48]:
lista_total

[34, 32, 56, 21, 90, 51]

### Operador in

In [49]:
# Criando uma lista
lista_teste_op = [100, 2, -5, 3.4]

In [50]:
# Verificando se o valor 10 pertence a lista
print(10 in lista_teste_op)

False

In [51]:
# Verificando se o valor 100 pertence a lista
print(100 in lista_teste_op)

True

### Funções Built-in

In [52]:
lista_s1.

SyntaxError: invalid syntax (2777343514.py, line 1)

![Listas](listas.jpg)

In [53]:
# Criando uma lista
lista_numeros = [10, 20, 50, -3.4]

In [54]:
# Função len() retorna o comprimento da lista
len(lista_numeros)

4

In [55]:
# Função max() retorna o valor máximo da lista
max(lista_numeros)

50

In [56]:
# Função min() retorna o valor mínimo da lista
min(lista_numeros)

-3.4

In [57]:
# Criando uma lista
lista_formacoes_dsa = ["Analista de Dados", "Cientista de Dados", "Engenheiro de Dados"]

In [58]:
lista_formacoes_dsa

['Analista de Dados', 'Cientista de Dados', 'Engenheiro de Dados']

In [59]:
# Adicionando um item à lista
lista_formacoes_dsa.append("Engenheiro de IA")

In [60]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA']

In [61]:
lista_formacoes_dsa.append("Engenheiro de IA")

In [62]:
lista_formacoes_dsa

['Analista de Dados',
 'Cientista de Dados',
 'Engenheiro de Dados',
 'Engenheiro de IA',
 'Engenheiro de IA']

In [63]:
lista_formacoes_dsa.count("Engenheiro de IA")

2

In [64]:
# Criando uma lista vazia
a = []

In [65]:
print(a)

[]

In [66]:
type(a)

list

In [67]:
a.append(10)

In [68]:
a

[10]

In [69]:
a.append(50)

In [70]:
a

[10, 50]

In [71]:
old_list = [1,2,5,10]

In [72]:
new_list = []

In [73]:
# Copiando os itens de uma lista para outra
for item in old_list:
    new_list.append(item)

In [74]:
lista = []
while True:
    n = int(input("Digite um valor (-1 para sair): "))
    if n == -1:
        break
    lista.append(n)

print(lista)

Digite um valor (-1 para sair):  3
Digite um valor (-1 para sair):  4
Digite um valor (-1 para sair):  23
Digite um valor (-1 para sair):  5
Digite um valor (-1 para sair):  2
Digite um valor (-1 para sair):  -1

[3, 4, 23, 5, 2]

In [75]:
new_list

[1, 2, 5, 10]

In [76]:
cidades = ['Recife', 'Manaus', 'Salvador']
cidades.extend(['Fortaleza', 'Palmas'])
print (cidades)

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [77]:
cidades.index('Salvador')

2

Lembre-se: em Python o índice começa por 0!

In [78]:
cidades.index('Rio de Janeiro')

ValueError: 'Rio de Janeiro' is not in list

In [79]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [80]:
cidades.insert(2, 110)

In [81]:
cidades

['Recife', 'Manaus', 110, 'Salvador', 'Fortaleza', 'Palmas']

In [82]:
# Remove um item da lista
cidades.remove(110)

In [83]:
cidades

['Recife', 'Manaus', 'Salvador', 'Fortaleza', 'Palmas']

In [84]:
# Reverte a lista
cidades.reverse()

In [85]:
# Imprime a lista
cidades

['Palmas', 'Fortaleza', 'Salvador', 'Manaus', 'Recife']

In [86]:
x = [3, 4, 2, 1]

In [87]:
x

[3, 4, 2, 1]

In [88]:
# Ordena a lista
x.sort()

In [89]:
x

[1, 2, 3, 4]

## <font color='blue'>TUPLAS...</font>
---
### Trabalhando com Tuplas

In [90]:
# Imprimindo a tupla
tupla1

NameError: name 'tupla1' is not defined

In [91]:
# Criando uma tupla
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [92]:
# Tuplas não suportam append()
tupla1.append("Chocolate")

AttributeError: 'tuple' object has no attribute 'append'

In [93]:
# Tuplas não suportam delete de um item específico
del tupla1["Elefantes"]

TypeError: 'tuple' object does not support item deletion

In [94]:
# Tuplas podem ter um único item
tupla1 = ("Chocolate")

In [95]:
tupla1

'Chocolate'

In [96]:
tupla1 = ("Geografia", 23, "Elefantes", 9.8, 'Python')

In [97]:
tupla1[0]

'Geografia'

In [98]:
# Verificando o comprimento da tupla
len(tupla1)

5

In [99]:
# Slicing, da mesma forma que se faz com listas
tupla1[1:]

(23, 'Elefantes', 9.8, 'Python')

In [100]:
tupla1.index('Elefantes')

2

In [101]:
# Tuplas não suportam atribuição de item
tupla1[1] = 21

TypeError: 'tuple' object does not support item assignment

In [102]:
# Deletando a tupla
del tupla1

In [103]:
tupla1

NameError: name 'tupla1' is not defined

In [104]:
# Criando uma tupla
t2 = ('A', 'B', 'C')

In [105]:
t2

('A', 'B', 'C')

In [106]:
# Tuplas não suportam atribuição de item
t2[0] = 'D'

TypeError: 'tuple' object does not support item assignment

In [107]:
# Usando a função list() para converter uma tupla para lista
lista_t2 = list(t2)

In [108]:
type(t2)

tuple

In [109]:
type(lista_t2)

list

In [110]:
lista_t2

['A', 'B', 'C']

In [111]:
lista_t2.append('D')

In [112]:
# Usando a função tuple() para converter uma lista para tupla
t2 = tuple(lista_t2)

In [113]:
t2

('A', 'B', 'C', 'D')

### Funções Built-in

![Tuplas](tuplas.jpg)

## <font color='blue'>DICIONÁRIOS...</font>
---
### Trabalhando com Dicionários

![Dicionários](dicionarios.jpg)

In [114]:
# Isso é uma lista
estudantes_lst = ["Pedro", 24, "Ana", 22, "Ronaldo", 26, "Janaina", 25]

In [115]:
estudantes_lst

['Pedro', 24, 'Ana', 22, 'Ronaldo', 26, 'Janaina', 25]

In [116]:
type(estudantes_lst)

list

In [117]:
# Isso é um dicionário
estudantes_dict = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [118]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [119]:
type(estudantes_dict)

dict

In [120]:
estudantes_dict["Pedro"]

24

In [121]:
estudantes_dict["Marcelo"] = 23

In [122]:
estudantes_dict["Marcelo"]

23

In [123]:
estudantes_dict

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25, 'Marcelo': 23}

In [124]:
estudantes_dict.clear()

In [125]:
estudantes_dict

{}

In [126]:
del estudantes_dict

In [127]:
estudantes_dict

NameError: name 'estudantes_dict' is not defined

In [128]:
estudantes = {"Pedro":24, "Ana":22, "Ronaldo":26, "Janaina":25}

In [129]:
estudantes

{'Pedro': 24, 'Ana': 22, 'Ronaldo': 26, 'Janaina': 25}

In [130]:
len(estudantes)

4

In [131]:
estudantes.keys()

dict_keys(['Pedro', 'Ana', 'Ronaldo', 'Janaina'])

In [132]:
estudantes.values()

dict_values([24, 22, 26, 25])

In [133]:
estudantes.items()

dict_items([('Pedro', 24), ('Ana', 22), ('Ronaldo', 26), ('Janaina', 25)])

In [134]:
estudantes2 = {"Camila":27, "Adriana":28, "Roberta":26}

In [135]:
estudantes2

{'Camila': 27, 'Adriana': 28, 'Roberta': 26}

In [136]:
estudantes.update(estudantes2)

In [137]:
estudantes

{'Pedro': 24,
 'Ana': 22,
 'Ronaldo': 26,
 'Janaina': 25,
 'Camila': 27,
 'Adriana': 28,
 'Roberta': 26}

In [138]:
dic1 = {}

In [139]:
dic1

{}

In [140]:
dic1["chave_um"] = 2

In [141]:
print(dic1)

{'chave_um': 2}

In [142]:
dic1[10] = 5

In [143]:
dic1

{'chave_um': 2, 10: 5}

In [144]:
dic1[9.13] = "Python"

In [145]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python'}

In [146]:
dic1["teste"] = 5

In [147]:
dic1

{'chave_um': 2, 10: 5, 9.13: 'Python', 'teste': 5}

In [148]:
dict1 = {}

In [149]:
dict1

{}

In [150]:
dict1["teste"] = 10

In [151]:
dict1["key"] = "teste"

In [152]:
# Atenção, pois chave e valor podem ser iguais, mas representam coisas diferentes.
dict1

{'teste': 10, 'key': 'teste'}

In [153]:
dict2 = {}

In [154]:
dict2["key1"] = "Data Science"

In [155]:
dict2["key2"] = 10

In [156]:
dict2["key3"] = 100

In [157]:
dict2

{'key1': 'Data Science', 'key2': 10, 'key3': 100}

In [158]:
a = dict2["key1"]

In [159]:
b = dict2["key2"]

In [160]:
c = dict2["key3"]

In [161]:
a, b, c

('Data Science', 10, 100)

In [162]:
# Dicionário de listas
dict3 = {'chave1':1230, 'chave2':[22,453,73.4], 'chave3':['picanha', 'fraldinha', 'alcatra']}

In [163]:
dict3

{'chave1': 1230,
 'chave2': [22, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

In [164]:
dict3['chave2']

[22, 453, 73.4]

In [165]:
# Acessando um item da lista, dentro do dicionário
dict3['chave3'][0].upper()

'PICANHA'

In [166]:
# Operações com itens da lista, dentro do dicionário
var1 = dict3['chave2'][0] - 2

In [167]:
var1

20

In [168]:
# Duas operações no mesmo comando, para atualizar um item dentro da lista
dict3['chave2'][0] -= 2

In [169]:
dict3

{'chave1': 1230,
 'chave2': [20, 453, 73.4],
 'chave3': ['picanha', 'fraldinha', 'alcatra']}

#### Criando Dicionários Aninhados

In [170]:
# Criando dicionários aninhados
dict_aninhado = {'key1':{'key2_aninhada':{'key3_aninhada':'Dict aninhado em Python'}}}

In [171]:
dict_aninhado

{'key1': {'key2_aninhada': {'key3_aninhada': 'Dict aninhado em Python'}}}

In [172]:
dict_aninhado['key1']['key2_aninhada']['key3_aninhada']

'Dict aninhado em Python'

### Funções Built-in

![Dicionários](dict.jpg)

## <font color='blue'>EXERCÍCIOS...</font>
---
### Exercícios sobre Listas

1. Faça um algoritmo que carregue um vetor de 10 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o mesmo vetor, na ordem inversa de entrada.

In [181]:
lista = []
for i in range (10):
    numero = int(input(f"Digite o {i+1}º número inteiro: "))
    lista.append(numero)
lista.reverse()
print (lista)

Digite o 1º número inteiro:  1
Digite o 2º número inteiro:  2
Digite o 3º número inteiro:  3
Digite o 4º número inteiro:  4
Digite o 5º número inteiro:  5
Digite o 6º número inteiro:  6
Digite o 7º número inteiro:  7
Digite o 8º número inteiro:  8
Digite o 9º número inteiro:  9
Digite o 10º número inteiro:  10

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

2. Faça um algorimto que carregue um vetor de 5 elementos numéricos inteiros. Após a finalização da entrada, o algoritmo deve escrever o maior valor e sua posição.

In [187]:
maior = 0
lista = []
for i in range (5):
    numero = int (input("Digite um número inteiro"))
    lista.append(numero)
    if numero >= maior:
        maior = numero
posicao = lista.index(maior)
print (f"O maior número é {maior} e está na {posicao+1}ª posição")

Digite um número inteiro 4
Digite um número inteiro 2
Digite um número inteiro 6
Digite um número inteiro 4
Digite um número inteiro 9

 O maior número é 9 e está na 5ª posição

3. Faça algoritmo que carregue dois vetores (listas) de cinco elementos numéricos cada um e mostre um vetor resultante na intercalação desses dois vetores

In [189]:
###### Criando as listas vazias
lista1 = []
lista2 = []
lista_intercalada = []

for i in range(5):
    numero = int(input(f"Digite o {i+1}º número: "))
    lista1.append(numero)


for i in range(5):
    numero2 = int(input(f"Digite o {i+1}º número: "))
    lista2.append(numero2)


for i in range(5):
    lista_intercalada.append(lista1[i])
    lista_intercalada.append(lista2[i])

print(f"Lista intercalada: {lista_intercalada}")

Digite o 1º número:  1
Digite o 2º número:  2
Digite o 3º número:  3
Digite o 4º número:  4
Digite o 5º número:  5
Digite o 1º número:  1
Digite o 2º número:  2
Digite o 3º número:  3
Digite o 4º número:  4
Digite o 5º número:  5

Lista intercalada: [1, 1, 2, 2, 3, 3, 4, 4, 5, 5]

In [190]:
# Exemplo de geração de números aleatórios (randômicos) entre 1 e 60
from random import randint
a = randint(1, 60)
print(a)

52

In [191]:
# Exemplo de geração de 10 jogadas de dados
from random import randint
# Gerando 10 jogadas
for i in range (0,10):
    lado = randint(1, 6)
    print(lado, end=" ")

4 5 4 1 4 3 2 2 4 4

4. Faça um Algoritmo que simule 6000 jogadas de um dado de 6 faces. Para simular o resultado utilize a função randint  Ao final, mostre a frequência de sorteio de cada uma das faces

In [194]:
from random import randint
frequencia = [0,0,0,0,0,0,0]
for i in range (6000):
    lado = randint(1,6)
    frequencia[lado - 1] += 1 
print("Frequência e porcentagem de sorteio para cada face:")
for i in range(6):
    porcentagem = (frequencia[i] /6000 ) * 100
    print(f"Face {i + 1}: {frequencia[i]} vezes ({porcentagem:.2f}%)")

Frequência e porcentagem de sorteio para cada face:
Face 1: 1026 vezes (17.10%)
Face 2: 1042 vezes (17.37%)
Face 3: 995 vezes (16.58%)
Face 4: 979 vezes (16.32%)
Face 5: 1018 vezes (16.97%)
Face 6: 940 vezes (15.67%)

5. Faça um algoritmo que simule a jogada de dois dados de 6 faces. O programa deve usar randint para rolar o primeiro dado e deve usar randint novamente para rolar o segundo dado. A soma das duas faces deve ser calculada. Assim: a soma variará de 2 a 12. O programa deve rolar 30.000 vezes e mostrar a frequência com que a soma (de 2 a 12) aparecem.  Verifique se o valor 7 corresponde a 1/6 das jogadas!

In [195]:
from random import randint


frequencias = {soma: 0 for soma in range(2, 13)}


for _ in range(30000):
    dado1 = randint(1, 6)
    dado2 = randint(1, 6)
    soma = dado1 + dado2
    frequencias[soma] += 1


print("Soma | Frequência | Porcentagem")
print("-------------------------------")
for soma in range(2, 13):
    porcentagem = (frequencias[soma] / 30000) * 100
    print(f"{soma:4} | {frequencias[soma]:9} | {porcentagem:6.2f}%")


freq_7 = frequencias[7]
porcentagem_7 = (freq_7 / 30000) * 100
esperado = 1/6 * 100

print("\nVerificação para soma = 7:")
print(f"Frequência observada: {porcentagem_7:.2f}%")
print(f"Valor esperado (1/6): {esperado:.2f}%")
print(f"Diferença: {abs(porcentagem_7 - esperado):.2f} pontos percentuais")

Soma | Frequência | Porcentagem
-------------------------------
   2 |       773 |   2.58%
   3 |      1740 |   5.80%
   4 |      2575 |   8.58%
   5 |      3392 |  11.31%
   6 |      4118 |  13.73%
   7 |      4990 |  16.63%
   8 |      4194 |  13.98%
   9 |      3248 |  10.83%
  10 |      2476 |   8.25%
  11 |      1658 |   5.53%
  12 |       836 |   2.79%

Verificação para soma = 7:
Frequência observada: 16.63%
Valor esperado (1/6): 16.67%
Diferença: 0.03 pontos percentuais

6. Faça um algoritmo que leia uma matriz 2x2 e imprima os seus elementos na ordem:

1,1 =

1,2 =

2,1 =

2,2 =

Obs: linha, coluna

In [197]:
matriz = []
for i in range(2):
    linha = []
    for j in range(2):    
        elemento = float(input(f"Digite o elemento [{i}][{j}]: "))
        linha.append(elemento)
    matriz.append(linha)


print("\nMatriz 2x2:")
for i in range(2):
    for j in range(2):
        
        print(matriz[i][j], end=" ")
    
    print()

Digite o elemento [0][0]:  1
Digite o elemento [0][1]:  2
Digite o elemento [1][0]:  4
Digite o elemento [1][1]:  5

Matriz 2x2:
1.0 2.0
4.0 5.0

7. Faça um algoritmo que leia os dados de uma matriz de 4 linhas e 4 colunas, composta de elementos reais, e calcule a soma dos elementos da diagonal principal da matriz.

In [9]:
matriz = []
soma = 0
for l in range (4):
    linha = []
    for c in range (4):
        elemento = float(input(f"Digite o elemento [{l}] [{c}]:"))
        linha.append(elemento)
    matriz.append(linha)
for i in range (4):
    soma += matriz[i][i]
print (f"A soma dos número diagonais da matriz é: {soma}")

Digite o elemento [0] [0]: 1
Digite o elemento [0] [1]: 2
Digite o elemento [0] [2]: 3
Digite o elemento [0] [3]: 4
Digite o elemento [1] [0]: 5
Digite o elemento [1] [1]: 6
Digite o elemento [1] [2]: 7
Digite o elemento [1] [3]: 8
Digite o elemento [2] [0]: 9
Digite o elemento [2] [1]: 10
Digite o elemento [2] [2]: 11
Digite o elemento [2] [3]: 12
Digite o elemento [3] [0]: 13
Digite o elemento [3] [1]: 14
Digite o elemento [3] [2]: 15
Digite o elemento [3] [3]: 16

A soma dos número diagonais da matriz é: 34.0

8. Faça um algoritmo que receba uma matriz de 5x5 com números reais. Ao final o algoritmo deve calcular e mostrar a média dos elementos que estão nas linhas pares da matriz.

In [7]:

matriz = []
for i in range(5):
    linha = []
    for j in range(5):
        valor = float(input(f"Digite o elemento da linha {i+1}, coluna {j+1}: "))
        linha.append(valor)
    matriz.append(linha)

soma = 0
contador = 0

for indice_linha in [1, 3]:  

    for indice_coluna in range(5):
        soma += matriz[indice_linha][indice_coluna]
        contador += 1

if contador > 0:
    media = soma / contador
else:
    media = 0

print(f"A média dos elementos nas linhas pares é: {media:.2f}")

Digite o elemento da linha 1, coluna 1:  1
Digite o elemento da linha 1, coluna 2:  1
Digite o elemento da linha 1, coluna 3:  1
Digite o elemento da linha 1, coluna 4:  1
Digite o elemento da linha 1, coluna 5:  1
Digite o elemento da linha 2, coluna 1:  1
Digite o elemento da linha 2, coluna 2:  1
Digite o elemento da linha 2, coluna 3:  1
Digite o elemento da linha 2, coluna 4:  1
Digite o elemento da linha 2, coluna 5:  1
Digite o elemento da linha 3, coluna 1:  1
Digite o elemento da linha 3, coluna 2:  1
Digite o elemento da linha 3, coluna 3:  1
Digite o elemento da linha 3, coluna 4:  1
Digite o elemento da linha 3, coluna 5:  1
Digite o elemento da linha 4, coluna 1:  1
Digite o elemento da linha 4, coluna 2:  1
Digite o elemento da linha 4, coluna 3:  1
Digite o elemento da linha 4, coluna 4:  1
Digite o elemento da linha 4, coluna 5:  1
Digite o elemento da linha 5, coluna 1:  1
Digite o elemento da linha 5, coluna 2:  1
Digite o elemento da linha 5, coluna 3:  1
Digite o elemento da linha 5, coluna 4:  1
Digite o elemento da linha 5, coluna 5:  1

A média dos elementos nas linhas pares é: 1.00

### Exercícios sobre Tuplas

9. Faça um algoritmo que armazenará os 10 primeiros números primos acima de 100 em uma trupla. Ao final, o algoritmo deve mostrar os valores dessa estrutura de dados.

In [10]:
import math


primos_encontrados = []  
numero = 101           
while len(primos_encontrados) < 10:
    
    eh_primo = True  
    raiz = math.isqrt(numero)  
    for divisor in range(2, raiz + 1):
        if numero % divisor == 0:
            eh_primo = False  
            break          
    if eh_primo:
        primos_encontrados.append(numero)
    numero += 1

tupla_primos = tuple(primos_encontrados)

print("Os 10 primeiros números primos acima de 100 são:")
print(tupla_primos)

Os 10 primeiros números primos acima de 100 são:
(101, 103, 107, 109, 113, 127, 131, 137, 139, 149)

### Exercícios sobre Dicionários

10. Faça um algoritmo que carregue um dicionário de 10 elementos onde a chave é o sobrenome da pessoa e o valor a sua idade.
Após a finalização da entrada, o algoritmo deve escrever o sobrenome da pessoa com maior idade.

In [11]:

pessoas = {}

for i in range(10):
    sobrenome = input(f"Digite o {i+1}º sobrenome: ")
    idade = int(input(f"Digite a idade de {sobrenome}: "))
    pessoas[sobrenome] = idade 

maior_idade = -1  
sobrenome_maior = ""

# Passo 4: Percorrer o dicionário para encontrar a maior idade
for sobrenome, idade_atual in pessoas.items():
    if idade_atual > maior_idade:
        maior_idade = idade_atual
        sobrenome_maior = sobrenome

print(f"\nA pessoa com maior idade é: {sobrenome_maior} ({maior_idade} anos)")

Digite o 1º sobrenome:  Morais
Digite a idade de Morais:  34
Digite o 2º sobrenome:  Jahd
Digite a idade de Jahd:  22
Digite o 3º sobrenome:  Huhu
Digite a idade de Huhu:  88
Digite o 4º sobrenome:  lal
Digite a idade de lal:  66
Digite o 5º sobrenome:  gaga
Digite a idade de gaga:  99
Digite o 6º sobrenome:  ahuj
Digite a idade de ahuj:  11
Digite o 7º sobrenome:  scdh
Digite a idade de scdh:  44
Digite o 8º sobrenome:  wdds
Digite a idade de wdds:  333
Digite o 9º sobrenome:  dvd
Digite a idade de dvd:  33
Digite o 10º sobrenome:  vfv
Digite a idade de vfv:  55

A pessoa com maior idade é: wdds (333 anos)

11. Faça um algoritmo que carregue um dicionário contendo nome e idade (pelo menos 5 pares). Depois de carregar, mostre todos os nomes que tenham idade maior que a média das idades.

In [12]:
# Passo 1: Criar e carregar o dicionário
pessoas = {}
quantidade = 5  # Mínimo de 5 pessoas, mas pode ser mais

print("Digite os dados das pessoas:")
for i in range(quantidade):
    nome = input(f"\nNome da {i+1}ª pessoa: ")
    idade = int(input(f"Idade de {nome}: "))
    pessoas[nome] = idade  # Adiciona ao dicionário

# Passo 2: Calcular a média das idades
soma_idades = sum(pessoas.values())  # Soma todas as idades
media = soma_idades / len(pessoas)   # Calcula a média

print(f"\nMédia das idades: {media:.1f} anos")

# Passo 3: Encontrar pessoas com idade acima da média
acima_da_media = []  # Lista para armazenar nomes

for nome, idade in pessoas.items():
    if idade > media:
        acima_da_media.append(nome)

# Passo 4: Mostrar os resultados
print("\nPessoas com idade acima da média:")
if acima_da_media:
    for nome in acima_da_media:
        print(f"- {nome}")
else:
    print("Nenhuma pessoa tem idade acima da média")

Digite os dados das pessoas:

Nome da 1ª pessoa:  Leona
Idade de Leona:  9

Nome da 2ª pessoa:  Gabriela
Idade de Gabriela:  34

Nome da 3ª pessoa:  Jorge
Idade de Jorge:  39

Nome da 4ª pessoa:  Leticia
Idade de Leticia:  9

Nome da 5ª pessoa:  Isabela
Idade de Isabela:  11

Média das idades: 20.4 anos

Pessoas com idade acima da média:
- Gabriela
- Jorge

12. Faça algoritmo que carregue duas listas de cinco elementos numéricos inteiros cada um. A partir dessas duas listas, crie um conjunto da união entre essas duas listas.

In [13]:
# Passo 1: Criar duas listas vazias
lista1 = []
lista2 = []

# Passo 2: Preencher a primeira lista com 5 elementos
print("Digite 5 números inteiros para a primeira lista:")
for i in range(5):
    numero = int(input(f"Digite o {i+1}º número: "))
    lista1.append(numero)

# Passo 3: Preencher a segunda lista com 5 elementos
print("\nDigite 5 números inteiros para a segunda lista:")
for i in range(5):
    numero = int(input(f"Digite o {i+1}º número: "))
    lista2.append(numero)

# Passo 4: Criar o conjunto de união
conjunto_uniao = set(lista1) | set(lista2)  # Operador de união

# Passo 5: Mostrar os resultados
print("\nPrimeira lista:", lista1)
print("Segunda lista:", lista2)
print("Conjunto união:", conjunto_uniao)

Digite 5 números inteiros para a primeira lista:

Digite o 1º número:  2
Digite o 2º número:  2
Digite o 3º número:  3
Digite o 4º número:  4
Digite o 5º número:  6

Digite 5 números inteiros para a segunda lista:

Digite o 1º número:  8
Digite o 2º número:  43
Digite o 3º número:  2
Digite o 4º número:  25
Digite o 5º número:  6

Primeira lista: [2, 2, 3, 4, 6]
Segunda lista: [8, 43, 2, 25, 6]
Conjunto união: {2, 3, 4, 6, 8, 43, 25}

## Fim da Aula 12